._.DS_Store
._*
.idea
wsgi.py
:2eidea
:2e_*
:2e*
*.tmpl.bak
activate
build
ENV
.environ
apache-solr-3.5.0
chlng_imgs
.static
*.pyc
.AppleDouble
.idea
test.DB
uploads
cache
.DS_Store
local_settings.py
cache
Server/run/
.pydevproject
.project
.settings
whoosh_index
run
ssl
user_content
*~
_ignoreme_*